@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Krona+One&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Krona One", sans-serif;
}

/* layout */

body {
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-image: url("/background.svg");
  background-repeat: repeat;
}

header {
  background-image: var(--gradient-16);
  box-shadow: var(--shadow-6);
  z-index: 100;
  height: max-content;
  padding: var(--size-3);
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  font-size: 0.75em;
}

header a {
  text-align: center;
}

main {
  padding: var(--size-6) var(--size-9);
}

footer {
  padding: var(--size-3);
  text-align: center;
}

h1 {
  font-size: var(--size-10);
}

a,
a:visited {
  color: var(--orange-9);
}

em {
  font-style: normal;
  color: var(--orange-3);
}

:root {
  font-size: calc(1rem + 0.5vw);
}

main h2:first-child {
  margin-bottom: var(--size-3);
}

.example {
  background-color: var(--blue-1);
  padding: var(--size-3);
  border: var(--border-size-2) solid var(--gray-9);
  border-radius: var(--radius-2);
  color: var(--blue-8);
}

.example h3,
.example h4 {
  color: var(--blue-8);
}

.example h3 {
  font-size: 42px;
}

.example h4 {
  font-size: 32px;
}

.example p {
  font-size: 24px;
}

.example.no-font {
  font-family: serif;
}

.example.no-font h3,
.example.no-font h4 {
  font-family: serif;
}
