@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Krona+One&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Krona One", sans-serif;
}

/* layout */

body {
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-image: url("/background.svg");
  background-repeat: repeat;
}

header {
  background-image: var(--gradient-16);
  box-shadow: var(--shadow-6);
  z-index: 100;
  height: max-content;
  padding: var(--size-3);
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  font-size: 0.75em;
}

header a {
  text-align: center;
}

main {
  padding: var(--size-6) var(--size-9);
}

footer {
  padding: var(--size-3);
  text-align: center;
}

h1 {
  font-size: var(--size-10);
}

a,
a:visited {
  color: var(--orange-9);
}

em {
  font-style: normal;
  color: var(--orange-3);
}

:root {
  font-size: calc(1rem + 0.5vw);
}
main h2 {
  margin-block: var(--size-3);
}
main h2:first-child {
  margin-top: 0;
}

.example::before {
  content: "Demo";
  position: absolute;
  left: 0;
  top: -40px;
  color: var(--lime-9);
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}

.example {
  position: relative;
  background-color: var(--lime-1);
  padding: var(--size-3);
  border: var(--border-size-2) solid var(--gray-9);
  border-radius: var(--radius-2);
  color: var(--gray-8);
}

.example h3,
.example h4 {
  color: var(--gray-8);
}

.example h3 {
  font-size: 42px;
}

.example h4 {
  font-size: 32px;
}

.example p {
  font-size: 24px;
}

.example.no-font {
  font-family: serif;
}

.example.no-font h3,
.example.no-font h4 {
  font-family: serif;
}

.example table {
  border-width: 1px;
}

.example table td {
  border-width: 1px;
}

.example.floats img {
  float: left;
}
.example.floats .main-text {
  float: left;
  max-width: 40%;
}
.example.floats .sidebar {
  float: right;
}
.example .clearfix {
  clear: both;
}

/* Responsive Design */

.example.resp img {
  margin: 0 auto;
}

.example.resp h3,
.example.resp h4 {
  margin-top: var(--size-3);
}

@media (min-width: 900px) {
  .example.resp img {
    float: left;
    padding-right: var(--size-3);
    padding-bottom: var(--size-3);
  }
  .example.resp .sidebar {
    clear: both;
  }
}
@media (min-width: 1500px) {
  .example.resp .main-text {
    float: left;
    max-width: 35%;
  }

  .example.resp .sidebar {
    clear: none;
    float: right;
  }
}

.example.intr {
  display: grid;
  grid-template-columns: 20% 45% 20%;
  gap: var(--size-3);
}

/* @media (max-width: 800px) {
  .example.intr {
    grid-template-columns: 20% 80%;
  }

  .example.intr .sidebar {
  grid-column: span 2;
  }
} */

.example.intr2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--size-3);
  align-items: start;
}

.example.intr2 .main-text {
  grid-column: span 3;
}

.example.intr2 .sidebar {
  grid-column: span 2;
}

.example.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
}

.example.switcher > * {
  flex-grow: 1;
  flex-basis: calc((50rem - 100%) * 999);
}

.example.switcher > :nth-last-child(n + 5),
.example.switcher > :nth-last-child(n + 5) ~ * {
  flex-basis: 100%;
}
