---
layout: base.njk
back: /example
next: /resources
---
<h2>Beispiel <em>«Switcher»</em>
</h2>

<br>
<br>
<br>
<div class="example switcher">
    <div>
        <h3>Komponente #1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fugit, sapiente doloremque dolore, dignissimos sit facilis optio at quod est, placeat voluptates cum! Quidem ullam esse ipsa placeat dignissimos architecto!</p>
    </div>
    <div>
        <h3>Komponente #2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fugit, sapiente doloremque dolore, dignissimos sit facilis optio at quod est, placeat voluptates cum! Quidem ullam esse ipsa placeat dignissimos architecto!</p>
    </div>
    <div>
        <h3>Komponente #3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fugit, sapiente doloremque dolore, dignissimos sit facilis optio at quod est, placeat voluptates cum! Quidem ullam esse ipsa placeat dignissimos architecto!</p>
    </div>
</div>
