---
layout: base.njk
back: /responsive
next: /goals
---
<h2>Evolution des Web Designs</h2>

<ul>
    <li>Aktuelle Evolution: <em>«Intrinsic Design»</em>
    </li>
</ul>
<br>
<br>
<br>
<div class="example intr">
    <img src="/image.jpg" alt="" width="260" height="350">
    <div class="main-text">
        <h3>Dies ist ein Titel</h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fugit, sapiente doloremque dolore, dignissimos sit facilis optio at quod est, placeat voluptates cum! Quidem ullam esse ipsa placeat dignissimos architecto!</p>
    </div>
    <div class="sidebar">
        <h4>Auch noch spannend</h4>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
</div>
