---
layout: base.njk
back: /flow
next: /floats
---
<h2>Evolution des Web Designs</h2>

<ul>
    <li>Nächste Evolution: <em>«Tabellenlayouts»</em>
    </li>
</ul>
<br>
<br>
<br>
<div class="example no-font">
    <table>
        <tr>
            <td>
                <img src="/image.jpg" alt="" width="260" height="350">
            </td>
            <td>
                <h3>Dies ist ein Titel</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fugit, sapiente doloremque dolore, dignissimos sit facilis optio at quod est, placeat voluptates cum! Quidem ullam esse ipsa placeat dignissimos architecto!</p>
            </td>

            <td>
                <h4>Auch noch spannend</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </td>
        </tr>

    </table>

</div>
