<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Intrisisches Web Design</title>
        <link rel="stylesheet" href="https://unpkg.com/open-props"/>
        <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css"/>
        <link rel="stylesheet" href="/custom.css">
    </head>
    <body >
        <header>
            <a href="{{back if back else '/'}}">↞ zurück</a>
            <a href="/">Startseite</a>
            <a href="{{next if next else '/'}}">weiter ↠</a>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>Oliver Bucher, 2022</footer>
    </body>
</html>
